*{
    margin: 0;
    padding: 0;
    text-align: center;
}
header{
height: 100px;
background-color: rgb(14, 4, 51);
color: white;
}
.main{
display: flex;
color: white;
}
.left{
    height: 800px;
    width: 10%;
    background-color: rgb(9, 201, 137);
}
.right{
    height: 800px;
    width: 90%;
}
.top{
    height: 100px;
    width: 100%;
    background-color: rgb(122, 7, 30);
    
}
.bottom{
    height: 700px;
    width: 100%;
    display: flex;
}
.bottom_left{
    height: 700px;
    width: 50%;
    
}
.bottom_left_upper{
    height: 350px;
    width: 100%;
    background-color: yellow;
    
    color: #000;

}
.bottom_left_down{
    height: 350px;
    width: 100%;
    background-color: yellowgreen;
}

.bottom_right{
    height: 700px;
    width: 50%;
   
}
.bottom_right_upper{
    height: 350px;
    width: 100%;
    background-color: rgb(194, 134, 44);
}
.bottom_right_down{
    height: 350px;
    width: 100%;
    background-color: rgb(194, 122, 14);
}

footer{
    height: 100px;
    background-color: rgb(52, 52, 207);
}